{% extends 'vil_panel/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Store Detail{% endblock title %}
{% block content %}
    {% if submitted %}
        <p class="success">
            You submitted successfully. Thank you.
			<a class="nav-item nav-link" href="{% url 'vilpanel-storedetailcreate' %}">Add another store detail</a>
        </p>
    {% else %}
        <form action="" method="post">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Fill StoreDetails</legend>
				{{ form|crispy }}
			 </fieldset>
			
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Submit</button>
			</div>
        </form>
	{% endif %}
{% endblock content %}