{% extends 'vil_panel/base.html' %}
{% block title %}Store Detail{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Store Details</legend>
				<h2>Are you sure to delete this Store Detail? {{object.customer_name}} </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
				<a class="btn btn-outline-secondary" href="{ %url 'vilpanel-storedetail' object.id %}">Cancel</a>
            </div>
			
        </form>
    </div>
{% endblock content %}